h1 {
    text-align: center;
    margin-top: 4vh;
}
body {
    background-color: cornflowerblue;
}

.snyggper {
    display: block;
    border-radius: 15px;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nav a{
    color: black;
    font-size: 3vh;
    display: block;
    padding: 2vh 10vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.nav {
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    list-style-type: none;
    background-color: aqua;
}
.nav li {
    margin: 0;
}
p {
line-height: 1.5;
width: 30vh;
background-color: rgb(0, 139, 139);
padding: 10px;
margin: 5vh;
border-style: solid;
border-radius: 15px ;
}

